<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
     <style>
        .post-container {
            margin-bottom: 20px;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
        }
        .post-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .post-content {
            font-size: 16px;
        }
        .comment-container {
            margin-top: 10px;
        }
        .comment-text {
            margin-bottom: 5px;
            padding: 5px;
            border: 1px solid #eee;
        }
        .likes-container {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>메인 페이지</h1>
    <a href="/notification">알림 보기</a>
    {{#each posts}}
    <div class="post-container">
        <h2 class="post-title">{{this.title}}</h2>
        <p class="post-content">{{this.content}}</p>
        <p>작성자 : {{this.author.id }}</p>
        <p>작성 시간 : {{this.createdAt}}</p>

        <!-- 댓글 출력 -->
        <div class="comment-container">
            <h3>댓글</h3>
            {{#each this.comments}}
            <div class="comment-text">{{this}}</div>
            {{/each}}
        </div>

        <!-- 좋아요 정보 출력 -->
        <div class="likes-container">
            <button class="like-button" data-post-id="{{this._id}}">좋아요</button>
            {{!-- 좋아요 수 --}}
            <span class="likes-count">{{this.likes}}</span> 
        </div>
    </div>
    {{/each}}

    <script>
        // 좋아요 버튼 클릭 이벤트 처리
        document.querySelectorAll('.like-button').forEach(button => {
            button.addEventListener('click', async () => {
                const postId = button.getAttribute('data-post-id');
                const response = await fetch(`/likes/${postId}`, { method: 'POST' });
                
                if (!response) {
                    throw new Error('서버 오류가 발생했습니다.');
                }
            });
        });
    </script>

</body>
</html>
