<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <a href="/post/all">메인페이지로 이동</a>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>{{ post.author.id }}</p>
    <p>{{ post.createdAt }}</p>
    <div class="comments">
    <h3>댓글</h3>
    {{#each post.comments}}
        <div class="comment">
            <p>{{this.text}}</p>
            <p>작성자: {{this.author}}</p>
        </div>
    {{/each}}
</div>
<p>좋아요 수: {{ post.likes }}</p>


</body>
</html>

